#div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.videoContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: whitesmoke;
  height: 40rem;
  border-radius: 25px;
  border: 4px solid #ff9800;
}

.data {
  display: flex;
  height: 100%;
  flex-direction: column;
  row-gap: 5%;
  justify-content: center;
}

.countC {
  display: flex;
  justify-content: space-around;
}

.time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

p {
  font-size: x-large;
}
