.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width:10rem;
    height: 10rem;
    border-radius: 100%;
}

/* .left-h {
    padding: 2rem;
    padding-top:1.5rem;
    flex:3;
} */

.header-menu {
    list-style: none;
    display :flex;
    gap: 2rem;
    color: white;
    padding-right: 2rem;
}

.LinkRoute {
    color: white;
    text-decoration: none;
}

.LinkRoute:hover {
    cursor: pointer;
    color: var(--orange);
}

.header-menu>li:hover{
    cursor: pointer;
    color: var(--orange);
}

/* Responsive css code with Media Query */
@media screen and (max-width: 768px)
{
    .header>:nth-child(2)
    {
        position: fixed;
        right: 2rem;
        z-index: 99;
    }
    .header-menu{
        flex-direction: column;
        background-color: var(--appColor);
        /* padding: 2rem; */
    }
}
